.bigBackground {
  display: flex;
  height: 50vh;
  border: 1px solid blue;
  align-items: center;
  justify-content: center;
}

.searchBar {
  display: flex;
  border-radius: 30px;
  border: 2px solid black;
  height: 15%;
  width: 20%;
  font-size: 25px;

  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  padding: 0 0 0 20px;
  color: #cd7f32;
  background-color: white;
}
.searchBar::placeholder {
  color: #cd7f32;
}

.row {
  border-bottom: 2px solid black;
  height: 3rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
