.bigBackground {
  display: flex;
  height: 70vh;
  align-items: center;
  justify-content: center;
  background-image: url(https://github.com/creativetimofficial/paper-kit-react/blob/main/src/assets/img/antoine-barres.jpg?raw=true);
  background-size: 100%;
}

.searchBar {
  display: flex;
  border-radius: 30px;
  border: 3px solid white;
  margin-top: 15%;
  height: 12%;
  width: 25%;
  font-size: 25px;
  text-align: center;
  color: #555;
  background-color: white;

  outline: none;
}

.searchBar:focus {
  border: 3px solid lightskyblue;
}

.searchBar:hover {
  border: 3px solid lightskyblue;
}

.row {
  background-color: rgb(211, 211, 211);
  height: 3rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 50px;
  color: #282c34;
}

.row > div {
  width: 11%;
}

.bigBackground > .icon {
  position: fixed;
  margin-left: 21%;
  margin-top: 15%;
  height: 1.2rem;
  width: 1.2rem;
}

.bigBackground > h1 {
  position: absolute;
  font-size: 7rem;
  color: white;
}
